.project-name{
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.project-img{
    /* Opacidad en la imagen de fondo */
    opacity: 0.5;
    /* Filtro para la imagen de fondo */
    filter: brightness(0.5);
}

.project-description{
    padding-inline: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
            line-clamp: 4; 
    -webkit-box-orient: vertical;
}


